<div class = "aboutme">
  <div class = "intro">
  
  <p style="float:right">You can download my resume here:<br><a style="color:#b5656d; text-decoration:underline;" href=http://localhost:3000/downloadresume>Click here to download</a></p>
  <br>

  <p>Hi, my name is Scott. I am currently a CS student working towards a postbacc degree!
  <br>I am currently looking for a internship, and I am actively working on projects trying to improve my skills.
  <br>Below are some of my work experiences and my projects</p>

  <img class="aboutImg" src="http://localhost:3000/images/4" style="float:right">

  <p>Some of my work experience:</p>
  <ul class = "work">
  <li>Fidelidade - Companhia de Seguros, S.A., Portugal. Jun 2018 – Aug 2018</li>
  	<ul class = "Fidelidade">
	  <li class ="exp">Maintain and plan a schedule for writing and posting social media content</li>
		<li class ="exp">Conducted research on topics related to products for social media content</li>
		<li class ="exp">Answering inquires to clients on social media</li>
		<li class ="exp">Worked with colleagues to build a new company website</li>
		<li class ="exp">Maintain and update budget sheet</li>
	</ul>
	<br>
	<li>MHK Insurance Services Limited, Hong Kong. May 2017 – Jul 2017</li>
	<ul class = "MHK">
	  	<li class ="exp">Lead a team of five people for a seminar project</li>
		<li class ="exp">Maintain and monitor project timelines and reporting of project status </li>
		<li class ="exp">Planned and organized a seminar with an expected guest of forty</li>
		<li class ="exp">Communicated with guests with various means of communication</li>
		<li class ="exp">Create and maintain budget sheet for the seminar project</li>
	</ul>
  </ul>
  <p>Some of my projects I have worked or am working on:</p>
  <ul class = "projects">
  		<li class="project"> Bullet game</li>
  		<li class="project"> Board game</li>
  		<li class="project"> This website!</li>
  </ul>
  <p>Some of my hobbies are:</p> 
  <ul class = "hobbies">
    <li class = "hobby">Anime</li>
    <li class = "hobby">Custom Keyboards</li>
    <li class = "hobby">Tennis</li>
    <li class = "hobby">Hiking</li>
    <li class = "hobby">Traveling</li>
  </ul>
  
  <img class="aboutImg" src="http://localhost:3000/images/5" style="width:80%;">

  </div>
</div>
