<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="http://localhost:30243/css" type="text/css">
  </head>
<body>
  <a id="banner" style="color:#ff0000; text-decoration:none"  href="http://localhost:30243/"><div class = "banner" style="text-align:center">Scott's Personal Page</div></a>
  <ul class = "menu">
    <li class = "navi"><a id = "home" class = "naviLink" href="http://localhost:30243/">Home</a></li>
    <li class = "navi"><a id = "about"class = "naviLink" href="http://localhost:30243/aboutme">About</a></li>
    <li class = "navi"><a id = "contact" class = "naviLink" href="http://localhost:30243/contact">Contact</a></li>
    <li class = "navi"><a id = "blog" class = "naviLink" href="http://localhost:30243/blog">Blog</a></li>
  </ul>

  <script type="text/javascript" src="http://localhost:30243/naviscript"></script>

	{{{body}}}


  <ul class = "footer">
    <li class = "foot"><a id = "twitter" class = "socialLink" href="https://twitter.com/">Twitter</a></li>
    <li class = "foot"><a id = "facebook"class = "socialLink" href="https://www.facebook.com/">Facebook</a></li>
    <li class = "foot"><a id = "linkedin" class = "socialLink" href="https://www.linkedin.com/">Linkedin</a></li>
    <li class = "foot"><a id = "email" class = "socialLink" href="mailto:lisco@oregonstate.edu">lisco@oregonstate.edu</a></li>
  </ul>


</body>
</html>