<div class = "aboutme">
  <div class = "intro">

      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>About Me</h2>
            <p>Hi, my name is Scott. I am currently a CS student working towards a postbacc degree!
            <br>I am currently looking for a internship, and I am actively working on projects trying to improve my skills.</p>
            <br>Below are some of my work experiences and my projects, click button to see more details!</p>
          </div>


          <div class="card">
                <p>Some of my work experience: <button class="showButton" onclick = "showWork()">Show All</button> </p>
                <ul class = "work">
                  <div class="hoverWork">
                    <li>Fidelidade - Companhia de Seguros, S.A., Portugal.</li>
                  </div>
                  <div id = "fidelidade" class = "experience">
                    <ul>
                      <li class ="exp">Jun 2018 – Aug 2018</li>
                      <li class ="exp">Maintain and plan a schedule for writing and posting social media content</li>
                      <li class ="exp">Conducted research on topics related to products for social media content</li>
                      <li class ="exp">Answering inquires to clients on social media</li>
                      <li class ="exp">Worked with colleagues to build a new company website</li>
                      <li class ="exp">Maintain and update budget sheet</li>
                    </ul>
                  </div>
                  <br>
                  <div class="hoverWork">
                    <li>MHK Insurance Services Limited, Hong Kong</li>
                  </div>
                  <div id = "mhk" class = "experience">
                    <ul class = "MHK">
                        <li class ="exp">May 2017 – Jul 2017</li>
                        <li class ="exp">Lead a team of five people for a seminar project</li>
                        <li class ="exp">Maintain and monitor project timelines and reporting of project status </li>
                        <li class ="exp">Planned and organized a seminar with an expected guest of forty</li>
                        <li class ="exp">Communicated with guests with various means of communication</li>
                        <li class ="exp">Create and maintain budget sheet for the seminar project</li>  
                    </ul>
                  </div>
                </ul>
          </div>

          <div class="card">
            <p>Some of my projects I have worked or am working on: <button class="showButton" onclick = "showProject()">Show All</button></p>
            <ul class = "projects">
                <li> Bullet game
                  <div id="bulletGame" class="project">
                    <div class="fakeimg"><img class="aboutImg" src="images/1"></div>
                  </div>
                </li>
                <br>
                <li> Board game
                  <div id="boardGame" class="project">
                    <div class="fakeimg"><img class="aboutImg" src="images/2"></div>
                  </div>
                </li>
                <br>
                <li> This website!
                  <div id="website" class="project">
                    <div class="fakeimg"><img class="aboutImg" src="images/3"></div>
                  </div>
                </li>
            </ul>
          </div>

          <div class="card">
            <p>Some of my hobbies are:</p> 
            <ul class = "hobbies">
              <li class = "hobby">Anime</li>
              <li class = "hobby">Custom Keyboards</li>
              <li class = "hobby">Tennis</li>
              <li class = "hobby">Hiking</li>
              <li class = "hobby">Traveling</li>
            </ul>
          </div>
          <div class="card">
            <div class="fakeimg"><img class="aboutImg" src="images/5"></div>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>Resume</h2>
            <p><a style="color:#b5656d; text-decoration:underline;" href=downloadresume>Click here to download</a></p>
          </div>
          <div class="card">
            <img class="aboutImg" src="images/4"><br>
          </div>
        </div>
      </div>

  </div>
</div>

<script type="text/javascript" src="showscript"></script>