<div class = "passwordinput">
  <form id = "passwordForm"  onSubmit="return passwordRedirect()">
      <fieldset>
        <button class="showButton" onclick = "gotoblogRedirect()">Go Back</button>
        <legend class="show">Enter your password:</legend>
        <label class="show" for="password">Password: 
            <input type="password" name="password" id="password">
        </label>
        <div class = "hint">1234</div>
        <br>
        <br>
        <input type="submit" id="passwordSubmit" class="submit">
      </fieldset>
    </form>
</div>


<script type="text/javascript" src="http://flip3.engr.oregonstate.edu:32044/blogscript"></script>