<div class = "writeBlog">
      <button class="showButton" onclick = "gotoblogRedirect()">Go Back</button>
      <h1 style="color:white">Write Blog</h1>
      <form id = "writeBlog">
      <fieldset>
        <label class="show" for="title">Title:
            <input type="text" name="title" id="title">
        </label>
        <br>
        <br>
        <label class="show" for="description">Description:
            <input type="text" name="description" id="description">
        </label>
        <br>
        <br>
        <label class="show" for="blogpost">
            <textarea name="blogpost" id="blogpost" cols="160" rows="30"></textarea>
        </label>
        <br>
        <br>
        <input type="submit" id="blogSubmit" class="submit">
      </fieldset>
      </form>
</div>
<script type="text/javascript" src="http://localhost:30243/blogscript"></script>